
/*TODO: Create a parent element for the svg, append it there, and then set the centering properties on that.
*/

body {
    font-family: Roboto, Helvetica, sans-serif;
    margin-top: 50px;
}

svg {
    display: block;
    width: 760px;
    margin: 0 auto;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--root {
  stroke: #777;
  stroke-width: 2px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px Roboto, Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}